<!DOCTYPE html>
<html>
<head>
    <title>Add Note</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'djaproject/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Add a New Note</h1>
        <form method="post">
            {% csrf_token %}
            <label>Title:</label>
            <input type="text" name="title">
            
            <label>Content:</label>
            <textarea name="content" rows="5"></textarea>
            
            <button type="submit">Save Note</button>
        </form>
        <br>
        <a href="{% url 'notes_list' %}">⬅ Back to Notes</a>
    </div>
</body>
</html>
